body{
    background: #fafafa;
}

#header{
    width: 100%; /* to float */
    position: absolute; /* to be on the top of the page */
    z-index: 999; /* when using "absolute", you must give it values for both x and y axis  */
    left: 0; top: 0;
    background: white;
    border-bottom: 1px solid rgba(0,0,0,0.1);

}

#header .inner{ /*  */
    width: 975px;
    height: 77px;
    margin: 0 auto; /* center-aligned */
}